@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;  /* ← 500 की जगह 400 */
  font-style: normal;
  font-size: 1rem;
}

* {
  cursor: none;
}